.App {
  text-align: center;
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Grid{
  align-self: center;
}

.Buttons{
  align-items: left;
  flex-direction: row;
  color: #020708;
  padding-top: 0px
}

.Slider{
  font-size: 5px
}

.Array{
  font-size: 15px
}



